@charset "UTF-8";

:root {
    --color-one: #7fbfe9;
    --color-two: #008ec3;
    --color-three: #005e8c;
    --color-four: #eb6e22;
    --color-four-light: #fff0e7;
    --color-five: #2f2a60;
    --color-six: #bfbfbf;
    --color-white: #ffffff;
    --color-danger: #cc0f35;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

strong,
.notification strong {
    color: var(--color-three);
}

sup {
    color: var(--color-three);
    font-weight: 700;
}

img {
    border-radius: 4px;
    max-width: 960px;
    width: 100%;
}

figure.image__capa___video img {
    max-width: 100%;
}

iframe {
    border-radius: 8px;
}

.hero h1 {
    color: var(--color-white);
    font-family: 'verdana';
}

.content h1,
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
    color: var(--color-three);
}

.message.is-info {
    background-color: var(--color-four-light);
}

.header-atv-back {
    margin-top: 0%;
    border-radius: 10px 10px 10px 10px;
    
}

.message.is-info .message-header {
    background-color: var(--color-four);
    color:var(--color-white);
}


.header-atv {
    margin-left: 15px;
    background-color: var(--color-four);
    color:var(--color-white);
    width: 180px;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px ;
    border-radius: 10px 10px 10px 10px;
    font-size: medium;
    font-weight: bold;
}

.interrog {
    margin-left: 15px;
    background-color: var(--color-four);
    color:var(--color-white);
    width: 45px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px ;
    border-radius: 10px 10px 10px 10px;
    font-size: medium;
    font-weight: bold;
}


.message.is-info .message-body {
    border: 0;
}

figure.video {
    margin-left: 0;
    margin-right: 0;
}

.content figure figcaption {
    border-left: solid 2px var(--color-six);
    text-align: left;
}

.content figure figcaption p {
    margin-left: 1%;
}

.hero-body {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 32px;
    padding: 0 !important;
}

.faixa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 0px 0px 10px 10px;
    min-width: 90px;
    max-width: 120px;
    height: 128px;
    background-color: #008ec3;
    box-shadow: 10px 14px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.numerofaixa {
    color: white;
    font-family: 'karla';
    font-size: 6rem;
    align-self: center;
    margin: 0;
}

.modal-content {
    width: 96%;
    max-width: 1080px;
}

.js-modal-trigger {
    cursor: pointer;
}
.js-modal-trigger[data-target="modal-js-example"],
.js-modal-trigger[data-target="modal-js-example-1"],
.js-modal-trigger[data-target="modal-js-example-2"],
.js-modal-trigger[data-target="modal-js-example-3"],
.js-modal-trigger[data-target="modal-js-example-4"],
.js-modal-trigger[data-target="modal-js-example-5"],
.js-modal-trigger[data-target="modal-js-example-6"],
.js-modal-trigger[data-target="modal-js-example-7"],
.js-modal-trigger[data-target="modal-js-example-8"],
.js-modal-trigger[data-target="modal-js-example-9"],
.js-modal-trigger[data-target="modal-js-example-10"],
.js-modal-trigger[data-target="modal-js-example-11"],
.js-modal-trigger[data-target="modal-js-example-12"],
.js-modal-trigger[data-target="modal-js-example-13"],
.js-modal-trigger[data-target="modal-js-example-14"],
.js-modal-trigger[data-target="modal-js-example-15"],
.js-modal-trigger[data-target="modal-js-example-16"],
.js-modal-trigger[data-target="modal-js-example-17"],
.js-modal-trigger[data-target="modal-js-example-18"],
.js-modal-trigger[data-target="modal-js-example-19"],
.js-modal-trigger[data-target="modal-js-example-20"],
.js-modal-trigger[data-target="modal-js-example-21"],
.js-modal-trigger[data-target="modal-js-example-22"],
.js-modal-trigger[data-target="modal-js-example-23"],
.js-modal-trigger[data-target="modal-js-example-24"],
.js-modal-trigger[data-target="modal-js-example-25"],
.js-modal-trigger[data-target="modal-js-example-26"],
.js-modal-trigger[data-target="modal-js-example-27"],
.js-modal-trigger[data-target="modal-js-example-28"],
.js-modal-trigger[data-target="modal-js-example-29"],
.js-modal-trigger[data-target="modal-js-example-30"],
.js-modal-trigger[data-target="modal-js-example-31"],
.js-modal-trigger[data-target="modal-js-example-32"],
.js-modal-trigger[data-target="modal-js-example-33"],
.js-modal-trigger[data-target="modal-js-example-34"],
.js-modal-trigger[data-target="modal-js-example-35"],
.js-modal-trigger[data-target="modal-js-example-36"],
.js-modal-trigger[data-target="modal-js-example-37"],
.js-modal-trigger[data-target="modal-js-example-38"],
.js-modal-trigger[data-target="modal-js-example-39"],
.js-modal-trigger[data-target="modal-js-example-40"],
.js-modal-trigger[data-target="modal-js-example-41"],
.js-modal-trigger[data-target="modal-js-example-42"],
.js-modal-trigger[data-target="modal-js-example-43"],
.js-modal-trigger[data-target="modal-js-example-44"],
.js-modal-trigger[data-target="modal-js-example-45"],
.js-modal-trigger[data-target="modal-js-example-46"],
.js-modal-trigger[data-target="modal-js-example-47"],
.js-modal-trigger[data-target="modal-js-example-48"],
.js-modal-trigger[data-target="modal-js-example-49"],
.js-modal-trigger[data-target="modal-js-example-50"],
.js-modal-trigger[data-target="modal-js-example-51"],
.js-modal-trigger[data-target="modal-js-example-52"],
.js-modal-trigger[data-target="modal-js-example-53"],
.js-modal-trigger[data-target="modal-js-example-54"],
.js-modal-trigger[data-target="modal-js-example-55"],
.js-modal-trigger[data-target="modal-js-example-56"],
.js-modal-trigger[data-target="modal-js-example-57"],
.js-modal-trigger[data-target="modal-js-example-58"],
.js-modal-trigger[data-target="modal-js-example-59"],
.js-modal-trigger[data-target="modal-js-example-60"],
.js-modal-trigger[data-target="modal-js-example-61"],
.js-modal-trigger[data-target="modal-js-example-62"],
.js-modal-trigger[data-target="modal-js-example-63"],
.js-modal-trigger[data-target="modal-js-example-64"],
.js-modal-trigger[data-target="modal-js-example-65"],
.js-modal-trigger[data-target="modal-js-example-66"],
.js-modal-trigger[data-target="modal-js-example-67"],
.js-modal-trigger[data-target="modal-js-example-68"],
.js-modal-trigger[data-target="modal-js-example-69"],
.js-modal-trigger[data-target="modal-js-example-70"],
.js-modal-trigger[data-target="modal-js-example-71"],
.js-modal-trigger[data-target="modal-js-example-72"],
.js-modal-trigger[data-target="modal-js-example-73"],
.js-modal-trigger[data-target="modal-js-example-74"],
.js-modal-trigger[data-target="modal-js-example-75"],
.js-modal-trigger[data-target="modal-js-example-76"],
.js-modal-trigger[data-target="modal-js-example-77"],
.js-modal-trigger[data-target="modal-js-example-78"],
.js-modal-trigger[data-target="modal-js-example-79"],
.js-modal-trigger[data-target="modal-js-example-80"],
.js-modal-trigger[data-target="modal-js-example-81"],
.js-modal-trigger[data-target="modal-js-example-82"],
.js-modal-trigger[data-target="modal-js-example-83"],
.js-modal-trigger[data-target="modal-js-example-84"],
.js-modal-trigger[data-target="modal-js-example-85"],
.js-modal-trigger[data-target="modal-js-example-86"],
.js-modal-trigger[data-target="modal-js-example-87"],
.js-modal-trigger[data-target="modal-js-example-88"],
.js-modal-trigger[data-target="modal-js-example-89"],
.js-modal-trigger[data-target="modal-js-example-90"],
.js-modal-trigger[data-target="modal-js-example-91"],
.js-modal-trigger[data-target="modal-js-example-92"],
.js-modal-trigger[data-target="modal-js-example-93"],
.js-modal-trigger[data-target="modal-js-example-94"],
.js-modal-trigger[data-target="modal-js-example-95"],
.js-modal-trigger[data-target="modal-js-example-96"],
.js-modal-trigger[data-target="modal-js-example-97"],
.js-modal-trigger[data-target="modal-js-example-98"],
.js-modal-trigger[data-target="modal-js-example-99"],
.js-modal-trigger[data-target="modal-js-example-100"],
.js-modal-trigger[data-target="modal-js-example-101"],
.js-modal-trigger[data-target="modal-js-example-102"],
.js-modal-trigger[data-target="modal-js-example-103"],
.js-modal-trigger[data-target="modal-js-example-104"],
.js-modal-trigger[data-target="modal-js-example-105"],
.js-modal-trigger[data-target="modal-js-example-106"],
.js-modal-trigger[data-target="modal-js-example-107"],
.js-modal-trigger[data-target="modal-js-example-108"],
.js-modal-trigger[data-target="modal-js-example-109"],
.js-modal-trigger[data-target="modal-js-example-110"],
.js-modal-trigger[data-target="modal-js-example-111"],
.js-modal-trigger[data-target="modal-js-example-112"],
.js-modal-trigger[data-target="modal-js-example-113"],
.js-modal-trigger[data-target="modal-js-example-114"],
.js-modal-trigger[data-target="modal-js-example-115"],
.js-modal-trigger[data-target="modal-js-example-116"],
.js-modal-trigger[data-target="modal-js-example-117"],
.js-modal-trigger[data-target="modal-js-example-118"],
.js-modal-trigger[data-target="modal-js-example-119"],
.js-modal-trigger[data-target="modal-js-example-120"],
.js-modal-trigger[data-target="modal-js-example-121"],
.js-modal-trigger[data-target="modal-js-example-122"],
.js-modal-trigger[data-target="modal-js-example-123"],
.js-modal-trigger[data-target="modal-js-example-124"],
.js-modal-trigger[data-target="modal-js-example-125"],
.js-modal-trigger[data-target="modal-js-example-126"],
.js-modal-trigger[data-target="modal-js-example-127"],
.js-modal-trigger[data-target="modal-js-example-128"],
.js-modal-trigger[data-target="modal-js-example-129"],
.js-modal-trigger[data-target="modal-js-example-130"],
.js-modal-trigger[data-target="modal-js-example-131"],
.js-modal-trigger[data-target="modal-js-example-132"],
.js-modal-trigger[data-target="modal-js-example-133"],
.js-modal-trigger[data-target="modal-js-example-134"],
.js-modal-trigger[data-target="modal-js-example-135"],
.js-modal-trigger[data-target="modal-js-example-136"],
.js-modal-trigger[data-target="modal-js-example-137"],
.js-modal-trigger[data-target="modal-js-example-138"],
.js-modal-trigger[data-target="modal-js-example-139"],
.js-modal-trigger[data-target="modal-js-example-140"],
.js-modal-trigger[data-target="modal-js-example-141"],
.js-modal-trigger[data-target="modal-js-example-142"],
.js-modal-trigger[data-target="modal-js-example-143"],
.js-modal-trigger[data-target="modal-js-example-144"],
.js-modal-trigger[data-target="modal-js-example-145"],
.js-modal-trigger[data-target="modal-js-example-146"],
.js-modal-trigger[data-target="modal-js-example-147"],
.js-modal-trigger[data-target="modal-js-example-148"],
.js-modal-trigger[data-target="modal-js-example-149"],
.js-modal-trigger[data-target="modal-js-example-150"],
.js-modal-trigger[data-target="modal-js-example-151"],
.js-modal-trigger[data-target="modal-js-example-152"],
.js-modal-trigger[data-target="modal-js-example-153"],
.js-modal-trigger[data-target="modal-js-example-154"],
.js-modal-trigger[data-target="modal-js-example-155"],
.js-modal-trigger[data-target="modal-js-example-156"],
.js-modal-trigger[data-target="modal-js-example-157"],
.js-modal-trigger[data-target="modal-js-example-158"],
.js-modal-trigger[data-target="modal-js-example-159"],
.js-modal-trigger[data-target="modal-js-example-160"],
.js-modal-trigger[data-target="modal-js-example-161"],
.js-modal-trigger[data-target="modal-js-example-162"],
.js-modal-trigger[data-target="modal-js-example-163"],
.js-modal-trigger[data-target="modal-js-example-164"],
.js-modal-trigger[data-target="modal-js-example-165"],
.js-modal-trigger[data-target="modal-js-example-166"],
.js-modal-trigger[data-target="modal-js-example-167"],
.js-modal-trigger[data-target="modal-js-example-168"],
.js-modal-trigger[data-target="modal-js-example-169"],
.js-modal-trigger[data-target="modal-js-example-170"],
.js-modal-trigger[data-target="modal-js-example-171"],
.js-modal-trigger[data-target="modal-js-example-172"],
.js-modal-trigger[data-target="modal-js-example-173"],
.js-modal-trigger[data-target="modal-js-example-174"],
.js-modal-trigger[data-target="modal-js-example-175"],
.js-modal-trigger[data-target="modal-js-example-176"],
.js-modal-trigger[data-target="modal-js-example-177"],
.js-modal-trigger[data-target="modal-js-example-178"],
.js-modal-trigger[data-target="modal-js-example-179"],
.js-modal-trigger[data-target="modal-js-example-180"],
.js-modal-trigger[data-target="modal-js-example-181"],
.js-modal-trigger[data-target="modal-js-example-182"],
.js-modal-trigger[data-target="modal-js-example-183"],
.js-modal-trigger[data-target="modal-js-example-184"],
.js-modal-trigger[data-target="modal-js-example-185"],
.js-modal-trigger[data-target="modal-js-example-186"],
.js-modal-trigger[data-target="modal-js-example-187"],
.js-modal-trigger[data-target="modal-js-example-188"],
.js-modal-trigger[data-target="modal-js-example-189"],
.js-modal-trigger[data-target="modal-js-example-190"],
.js-modal-trigger[data-target="modal-js-example-191"],
.js-modal-trigger[data-target="modal-js-example-192"],
.js-modal-trigger[data-target="modal-js-example-193"],
.js-modal-trigger[data-target="modal-js-example-194"],
.js-modal-trigger[data-target="modal-js-example-195"],
.js-modal-trigger[data-target="modal-js-example-196"],
.js-modal-trigger[data-target="modal-js-example-197"],
.js-modal-trigger[data-target="modal-js-example-198"],
.js-modal-trigger[data-target="modal-js-example-199"],
.js-modal-trigger[data-target="modal-js-example-200"] {
    margin: auto;
    width: 70%;
}

.js-modal-trigger[data-target="modal-video-1"],
.js-modal-trigger[data-target="modal-video-2"],
.js-modal-trigger[data-target="modal-video-3"],
.js-modal-trigger[data-target="modal-video-4"],
.js-modal-trigger[data-target="modal-video-5"],
.js-modal-trigger[data-target="modal-video-6"],
.js-modal-trigger[data-target="modal-video-7"],
.js-modal-trigger[data-target="modal-video-8"],
.js-modal-trigger[data-target="modal-video-9"],
.js-modal-trigger[data-target="modal-video-10"],
.js-modal-trigger[data-target="modal-video-11"],
.js-modal-trigger[data-target="modal-video-12"],
.js-modal-trigger[data-target="modal-video-13"],
.js-modal-trigger[data-target="modal-video-14"],
.js-modal-trigger[data-target="modal-video-15"],
.js-modal-trigger[data-target="modal-video-16"],
.js-modal-trigger[data-target="modal-video-17"],
.js-modal-trigger[data-target="modal-video-18"],
.js-modal-trigger[data-target="modal-video-19"],
.js-modal-trigger[data-target="modal-video-20"] {
    margin: auto;
    width: 90%;
}

blockquote.citacao {
    margin-left: 10%;
}

::marker {
    color: var(--color-four)
}

.is-uppercase {
    text-transform: uppercase;
}

.box {
    padding: 0;
    background-color: transparent;
}

.box figure {
    margin-left: 0;
    margin-right: 0;
}

.quebra-palavra {
    word-break: break-word;
}

.image.is-16by9 {
    padding-top: 52.25%;
}

.content table thead th {
    background-color: var(--color-four);
    color: var(--color-white);
}

.notification.is-info.is-light {
    background-color: var(--color-white);
}

.aspas {
    padding: 0 5%;
}

.aspas::before,
.aspas::after {
    content: "";
    display: flex;
    width: 48px;
    height: 48px;
}
.aspas::before {
    background: url(../image/quote-right-solid.svg) no-repeat right;
    width: 100%;
    margin-right: 5%;
}
.aspas::after {
    background: url(../image/quote-left-solid.svg) no-repeat left;
}

.notification.is-danger.is-light strong {
    color: var(--color-danger);
}

.image__capa___video {
    cursor: pointer;
    opacity: .9;
}
.image__capa___video:hover {
    opacity: 1;
}
.image__capa___video::before {
    content: "";
    background: url(../image/circle-play-regular.svg) no-repeat center;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    z-index: 1;
}

.title.is-1 {
    font-size: 2rem;
}

@media screen and (max-width: 375px) { 
    .content figure {
        margin-left: 0;
        margin-right: 0;
    }
}

.button__video {
    border: solid 1px #005e8c !important;
    width: max-content !important;
    color: #005e8c !important;
}

.player-content{
    width: 0;
    margin: 0;
    aspect-ratio: 16/9;
    transition: 300ms ease
}
.player-content figure{
    margin: 0
}
.player-content iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.video-open{
    width: 100%;
    margin: 2em 0
}
.message.message__custom {
    background-color: #ffffff;
    margin-top: 5%;
    margin-bottom: 8%;
}

.message-body.message-body__custom {
    border-width: 0;
    padding-left: 4%;
}

.message-body.message-body__custom::after,
.message-body.message-body__custom::before {
    content: "";
    width: 60px;
    border-color: #005e8c;
    height: 60px;
    display: flex;
    position: absolute;
}

.message-body.message-body__custom::after {
    border-bottom: solid;
    border-right: solid;
    right: 0;
}

.message-body.message-body__custom::before {
    border-top: solid;
    border-left: solid;
    left: 0px;
    margin-top: -4%;
}

.boxpadrao{
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #eb6e22;
    border-radius: 10px;
    margin-bottom: 25px;
}

.epigrafe{  
    line-height: normal;
    margin-left: 20%;
    color: gray;
    text-align: right;
}

.box_faixa{
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-top-color: orange;
    border-style: solid;
    border-bottom-color: orange;
    border-right-style: none;
    border-left-style: none;
    padding: 10px;
    margin-bottom: 25px;
    
}

.boxpadraoatv{
    position: flex;
    padding-top: 50px;
    padding: 35px;
    margin-top: -2.3%;
    border-style: solid;
    border-width: 3px;
    border-color: #eb6e22;
    border-radius: 10px 10px 10px 10px;
}
  .botao-resposta {
    background-color: white;
    border-radius: 3px;
    border: solid 1px #005e8c !important;
    width: 150px !important;
    height: 30px;
    color: #005e8c !important;
}
.header {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-four);
    font-family: 'ubuntu';
}

.headersecao {
    margin-top: 20px;
   font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-four);
    font-family: 'ubuntu';
}

.linha-horizontal {
    border-top: 2px solid var(--color-four);
}

.section.is-medium{
    padding-top: 20px;
}

.formula {
    vertical-align: middle; 
    display: inline-block; 
    margin-bottom: 1%;
    width: 250px;
    height: auto;
}
.table_headerleft{
    justify-content: center;
    display: flex;

}


.back{
    margin-top: 30px;
    display: flex; 
    border-top: 2px solid #eb6e22;
    border-radius: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eb6e22;
    border-radius: 20px;
    
}


.timeline{
    margin-top: 30px;
    display: flex; 
    border-top: 2px solid #eb6e22;
    border-left: 2px solid #eb6e22;
    
}

.timeline_middle{
    display: flex; 
    border-top: 2px solid #eb6e22;
    border-left: 2px solid #eb6e22;
    
}

.timeline_right{
    border-top: 2px solid #eb6e22;
    border-right: 2px solid #eb6e22;
}

.timeline_right_end{
    border-top: 2px solid #eb6e22;
    border-right: 2px solid #eb6e22;
    border-bottom: 2px solid #eb6e22;
    margin-bottom: 20px;
}

.backnum{
    border-bottom: 2px solid #eb6e22;
    margin-top: 30px;
    display: flex; 
    margin-bottom: 20px;
    border-radius: 0 0 0 20px ;
}

.iconolho {
    margin-top: -35px;
    width: 35px;
    height: 35px;
    padding-top: 10px;
}

.numtimeline {
    gap: 50px;
    align-items: center;
    margin-top: 40px;
    margin-left: -30px;
}

.numtimeline_2 {
    gap: 50px;
    align-items: center;
    margin-top: 40px;
    margin-right: -30px;  
}


.deolho{
    display: flex;
    margin-top: -15px;
    border: 2px solid;
    width: 500px;
    margin-left: 20px;
    border: 2px solid var(--color-four);
    border-radius: 50px;
    text-align: center;
    padding-left: 50px;
    background-color: white; 
    
}

.deolho2{
    border-top: 2px;
    border-bottom: 2px;
    display: flex;
    margin-top: -15px;
    border: 2px solid;
    width: 500px;
    margin-left: 20px;
    border: 2px solid var(--color-four);
    border-radius: 50px;
    text-align: center;
    padding-left: 50px;
    background-color: #eb6e22; 
    
}

.deolho2 p {
    color:white;
}

.napratica{
    display: flex;
    margin-top: -15px;
    border: 2px solid;
    max-width: 500px;
    width: auto;
    border: 2px solid var(--color-four);
    border-radius: 50px;
    text-align: left;
    padding-left: 30px;
    background-color: white; 
}

.textbox{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textbox_2{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.textbox_3{
    display: flex;
    flex-direction: column; 

    padding: 15px;
    
}

.numbox{
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 20px;
    margin-left: 20px;
    
}

.time{
    display: flex;
}



.itemolho {
    margin-top: -15px;
    display: flex;
    width: 55px;
    height: 55px; 
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid var(--color-four); 
    align-items: center;
    justify-content: center;
    padding: 0.2px;
  }
  
  .boxdef {
    width: 55px; 
    height: 55px; 
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid var(--color-four); 
    padding: 0.2px;
    display: flex;
    align-items: center;
  }

  .boxnum {
    width: 55px; 
    height: 55px; 
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid var(--color-four); 
    display: flex;
    align-items: center;
    margin-top: -20px ;
  }

  .boxtimenum{
    width: 55px; 
    height: 55px; 
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid var(--color-four); 
    display: flex;
    align-items: center;
  }

  .numerobox {
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: xx-large;
    align-items: center;
    color: #005e8c;
  }

  .napraticatitle {
    padding-left: 15px;
    font-size: large;
    font-weight: 700;
    align-items: center;
    color: #005e8c;
  }
  
  .titlesquad {
    padding-left: 15px;
    font-size: large;
    font-weight: 700;
    align-items: center;
    color: #ffffff;
  }

  .all_icon{
    padding-left: 6px;
    align-items: center;
    display: flex;
    width: 90%;
  }



blockquote.poema{
    margin-left: 10%;
    background-color: #d5e9f9b2;
    border-color: var(--color-one);
    color: black;
}

sup.nocolor{
    color: inherit;
    font-weight: inherit;
}

.faixa_pointline{
    display: flex;
    border-top: dashed 3px var(--color-four); 
    margin-top: 50px;
    height: 30px;
    gap: 40px;
   justify-content: space-between;
}

.left_circle{
    background-color: #f28d4d;
    border: solid 8px #eb6e22;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;

}

.right_circle{
    display: flex;
    background-color: var(--color-four);
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin-top: -10px;

}

.circle_2{
    background-color: #f28d4d;
    border: solid 8px #eb6e22;
    border-right: solid 8px #ffffff;
    border-top: solid 8px #ffffff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    margin-top: -60px;
}

.rotulo_txt{
    display: flex;
    margin-left: 40px;
    padding-bottom: 20px;
    border-radius: 50px;
    padding-left: 30px;
    text-align: center;
    font-size: x-large;
}

.rotulo{
    margin-top: 30px;
    border-top: 2px solid #eb6e22;
    margin-bottom: 20px;
}


.back_bola{
    display: flex; 
    margin-top: 50px;
    border-bottom: 2px solid #eb6e22;
    margin-bottom: 40px;
    height: 45px;
    border-radius: 0 0 0 20px;
}

.circle_3{
    background-color: #f28d4d;
    border: solid 8px #eb6e22;
    border-right: solid 8px var(--color-three);
    border-top: solid 8px var(--color-three);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-top: -60px;
}

.form_middle{
    text-align: center;
}

.quadrado{
    border-radius: 10px;
    border: 2px solid var(--color-four);
    margin-top: 30px;
    display: flex; 
    margin-bottom: 20px;
}

.tittlesquare{
        display: flex;
        max-width: 400px;
        width: auto;
        border: 2px solid var(--color-four);
        text-align: left;
        padding-left: 30px;
        padding-right: 15px;
        background-color: var(--color-four);
        border-radius: 7px 0px 7px 0px;
}

.code-container {
    margin-bottom: 20px;
  }
  
  .code-header {
    background-color:var(--color-three);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .code-title {
    font-size: 18px;
  }
  
  .copy-button {
    background-color: var(--color-two);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .minha-code-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px;
    overflow-x: auto;
    margin: 0;
  }
  
  .minha-code-box pre {
    margin: 0;
    white-space: pre-wrap;
  }
  
  .minha-code-box code {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }


 .box_interrogacao {
    width: 55px; 
    height: 55px; 
    background-color: white; 
    border: 2px solid var(--color-four); 
    display: flex;
    align-items: center;
  }

  .iconinterrogacao {
    margin-top: -35px;
    width: 35px;
    height: 35px;
    padding-top: 0px;
}

.grifo {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-top-color: #005e8c;
    border-style: solid;
    border-bottom-color: #005e8c;
    border-right-style: none;
    border-left-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E5FFFF;
    letter-spacing: 0px;
}

.grifo {
    font-weight: bold;
    color: #005e8c;
}

.linha_finalizacao_grifo {
    border-top: 2px solid var(--color-three);
    padding-top: 10px;
    position: relative;
    width: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.linha_finalizacao_grifo::before,
.linha_finalizacao_grifo::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--color-three);
    border-radius: 50%;
}

.linha_finalizacao_grifo::before {
    top: -5px;
    left: -5px;
}

.linha_finalizacao_grifo::after {
    top: -5px;
    right: -5px;
}


.titulo_linha{
    width: 100%;
    border: 2px solid  #eb6e22; 
    text-align: left;
    padding-left: 2%;
    margin: 20px 0; 
    border-radius: 10px;
    padding-bottom: 20px;
}
.titulo_linha span{
    background-color: white; 
    padding: 0 10px; 
    position: relative;
    font-weight: bold;
    color: #005e8c;
    top: -12px; 
    font-size: 18px;
}
.titulo_linha p:last-child{
    margin-bottom: 2%;
}

.na_pratica_box {
    border-top: 2px solid var(--color-four);
    border-bottom: 2px solid var(--color-four);
    padding-top: 30px; 
    position: relative;
    width: auto; 
    margin:  auto; 
                margin-top: 5% ;
                margin-bottom: 5% ;
}

.na_pratica_box::before,
.na_pratica_box::after,
.na_pratica_box .linha_finalizacao_esquerda,
.na_pratica_box .linha_finalizacao_direita {
    content: '';
    position: absolute;
    width: 10px; 
    height: 10px; 
    background-color: var(--color-four); 
    border-radius: 50%;
}

.na_pratica_box::before {
    top: -5px;
    left: -5px; 
}

.na_pratica_box::after {
    top: -5px; 
    right: -5px; 
}

.na_pratica_box .linha_finalizacao_esquerda {
    bottom: -5px;
    left: -5px; 
}

.na_pratica_box .linha_finalizacao_direita {
    bottom: -5px; 
    right: -5px; 
}

.na_pratica_titulo {
    position: absolute;
    top: -15px;
    left: 20px; 
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
     color: var(--color-three);
    border: 2px solid var(--color-four);
     border-radius: 10px;
}


.box_destaque_cantos{
    position: relative;
      padding: 25px;
      margin-top: 10px;
      margin-bottom: 15px;
}
.box_destaque_cantos:before, 
.box_destaque_cantos:after {
  content: '';
  position: absolute;
  border: 3px solid var(--color-four);
  width: 100px;
  height: 100px;
    pointer-events: none;
}
.box_destaque_cantos:after {
  right: 0;
  bottom: 0;
  border-top: 0;
  border-left: 0;
}
.box_destaque_cantos:before {
  left: 0;
  top: 0;
  border-right: 0;
  border-bottom: 0;
}

.box_geralinfo{
    width: auto;
    height: auto;
    border: 2px solid var(--color-four);
    border-radius: 15px;
    margin: 0%;
    margin-bottom: 20px;
}

.box_geralinfo_titulo{
    width: auto;
    height: max-content;
    background-color: var(--color-four);
    padding: 1%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.box_geralinfo_titulo p{
    margin-left: 10px;
}
.box_geralinfo_conteudo{
    margin-left: 5px;
    padding: 3%;
}

.marginbottom20{
    margin-bottom: 20px;
}

.alinhamento_da_tarja {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.circulo_do_icone {
    width: 50px;
    height: 50px;
    background-color: var(--color-four); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    position: relative;
}

.circulo_do_icone::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 500px;
    height: 3px;
    background-color: var(--color-four); 
}

.titulo_da_tarja {
    font-size: 24px;
    margin-left: 10px;
    color: var(--color-four);
    font-weight: bold;
}

.citacao_aspas {
    border: 3px solid var(--color-four);
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 120px;
    margin-bottom: 15px;
}



.citacao_aspas:before {
    font-family: 'karla';
    content: "“";
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 5em;
    font-weight: normal;
    color: var(--color-three);
    padding-left: 10px;
}

.citacao_aspas:after {
    font-family: 'karla';
    content: "”";
    position: absolute;
    bottom: -5px;
    line-height: 0px;
    right: 0px;
    font-size: 5em;
    font-weight: normal;
    color: var(--color-three);
    padding-right: 6px;
    padding-bottom: 10px;
}

.caixa__externa {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

.espaco__horizontal__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.numero__boxNumerado {
    flex: 0 0 50px; /* Tamanho fixo para a coluna do número */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-four);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color:white
    
}

.texto__da__box__numerada {
    flex-grow: 1; /* A coluna de texto expande */
    padding-left: 20px;
}

@media (max-width: 400px) {
    .numero__boxNumerado {
        width: auto;
        padding: 0 15px;
        height: 40px;
        border-radius: 20px; /* Retângulo com cantos arredondados */
    }
}
